<style>
    table td:first-child{width: 20%;}
    .upgrade-btn{margin-left:15px; display: none}
    .bind-tips,.bind-btn{float: left;}
    .bind-btn{margin-left:18px;}
    .bind-tips{line-height: 22px;}
    .bind-tips.red{color:red}
</style>
<div class="layui-row layui-col-space15">
    <div class="layui-col-md6">
        <div class="layui-card">
            <div class="layui-card-header">系统版本与通信</div>
            <div class="layui-card-body">
                <table class="layui-table" lay-skin="nob">
                    <tbody>
                    <tr>
                        <td align="center">当前版本 :</td>
                        <td class="system-upgrade-tips">v {:config('hiphp.version')}{if $data}<button type="button" class="upgrade-btn layui-btn layui-btn-danger layui-btn-xs site-download-active" uri-params="app_name=system&app_type=system&type=0&version={$data['version']}&file_size={$data['file_size']}&op=upgrade">发现新版本, 立即升级</button>{/if}</td>
                    </tr>
                    <tr>
                        <td align="center" width='20%'>云端通信 :</td>
                        <td class="connect-tips"><span style="color:green">通信正常</span></td>
                    </tr>
                    <tr>
                        <td align="center" width='20%'>云端绑定 :</td>
                        <td class="system-upgrade-binds"><div class="bind-tips red">未绑定</div><button type="button" class="bind-btn layui-btn layui-btn-normal layui-btn-xs">立即绑定</button></td>
                    </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>
{include file="block/layui" /}
{:runHook('cloud_temp')}
