<?xml version="1.0" encoding="ISO-8859-1"?>
<root>
<item id="title"><![CDATA[cms手机默认模板]]></item>
<item id="author"><![CDATA[HiPHP]]></item>
<item id="name"><![CDATA[cms]]></item>
<item id="sql"><![CDATA[0]]></item>
<item id="thumb"><![CDATA[0]]></item>
<item id="version"><![CDATA[1.0.0]]></item>
<item id="time"><![CDATA[2019-11-20 10:29]]></item>
</root>