.hi-bgcolor1{background-color: #18bc9c;}
.hi-bgcolor2{background-color: #33cde5;}
.hi-bgcolor3{background-color: #6666CC;}
.hi-bgcolor4{background-color: #FF9900;}
.hi-bgcolor5{background-color: #6666FF;}
.hi-bgcolor6{background-color: #FF6666;}
.hi-bgcolor7{background-color: #1E9FFF;}