<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
    <title>{:config('hiphp.name')}</title>
    <meta name="keywords" content="">
    <meta name="description" content="">
    <link rel="stylesheet" href="__PUBLIC_PACK__/layui/css/layui.css?v={:config('hiphp.version')}">
    <link rel="stylesheet" href="__PUBLIC_STATIC__/m_system/css/base.css?v={:config('hiphp.version')}">
</head>
<body id="main-body">
{if isset($tabType)}
{switch name="$tabType"}
{case value="1"}
{/* 单个分组 */}
<div class="layui-card main-box">
    <div class="layui-tab layui-tab-brief">
        <ul class="layui-tab-title">
            <li class="layui-this">
                <a href="javascript:;" id="curTitle">{$currMenu['title']|raw}</a>
            </li>
        </ul>
        <div class="layui-tab-content page-tab-content">
            <div class="layui-tab-item layui-show">
                {__CONTENT__}
            </div>
        </div>
    </div>
</div>
{/case}
{case value="2"}
{/* 分组切换[无链接] */}
<div class="layui-card main-box">
    <div class="layui-tab layui-tab-brief">
        <ul class="layui-tab-title">
            {volist name="tabData['tab']" id="vo" key="k"}
            {if ($k == 1)}
            <li class="layui-this">
                {else /}
            <li>
                {/if}
                <a href="javascript:;" class="{if (isset($vo['class']))}{$vo['class']}{/if}" id="{if (isset($vo['id']))}{$vo['id']}{/if}">{$vo['title']|raw}</a>
            </li>
            {/volist}
        </ul>
        <div class="layui-tab-content page-tab-content">
            {__CONTENT__}
        </div>
    </div>
</div>
{/case}
{case value="3"}
{/* 分组切换[有链接] */}
<div class="layui-card main-box">
    <div class="layui-tab layui-tab-brief">
        <ul class="layui-tab-title">-
            {volist name="tabData['tab']" id="vo"}
            {php}
            $tabData['current'] = isset($tabData['current']) ? $tabData['current'] : '';
            {/php}
            {if strtolower(trim($vo['url'])) == strtolower(trim($hiCurrentMenu['url'])) or strtolower(trim($vo['url'])) == strtolower(trim($tabData['current']))}
            <li class="layui-this">
                {else /}
            <li>
                {/if}
                {if (strpos($vo['url'], 'http'))}
                <a href="{$vo['url']}" target="_blank">{$vo['title']|raw}</a>
                {elseif (strpos($vo['url'], config('system.admin_path')) !== false) /}
                <a href="{$vo['url']}" id="{if (isset($vo['id']))}{$vo['id']}{/if}" class="{if (isset($vo['class']))}{$vo['class']}{/if}">{$vo['title']|raw}</a>
                {else /}
                <a href="{:url($vo['url'])}" class="{if (isset($vo['class']))}{$vo['class']}{/if}" id="{if (isset($vo['id']))}{$vo['id']}{/if}">{$vo['title']|raw}</a>
                {/if}
            </li>
            {/volist}
        </ul>
        <div class="layui-tab-content page-tab-content">
            <div class="layui-tab-item layui-show">
                {__CONTENT__}
            </div>
        </div>
    </div>
</div>
{/case}
{default /}
{__CONTENT__}
{/switch}
{/if}
</body>
</html>