
<link rel="stylesheet" href="__MODULE_STATIC__/css/table.css?v={:config('hiphp.version')}">
<div class="table-box2"><table id="dataTable"></table></div>
{include file="block/layui" /}
<script type="text/html" id="buttonTpl">
    <div class="layui-btn-group">
        <a data-href="{:url('export')}?id={{ d.Name }}" class="layui-btn layui-btn-normal layui-btn-xs j-ajax">备份</a>
        <a data-href="{:url('optimize')}?id={{ d.Name }}" class="layui-btn layui-btn-xs j-ajax">优化</a>
        <a data-href="{:url('repair?')}?id={{ d.Name }}" class="layui-btn layui-btn-danger layui-btn-xs j-ajax">修复</a>
    </div>
</script>

<script type="text/html" id="toolbar">
    <div class="hi-table-tool">
        <a data-href="{:url('export')}" class="layui-btn layui-btn-normal layui-btn-sm j-page-btns" data-table="dataTable">备份数据</a>
        <a data-href="{:url('optimize')}" class="layui-btn layui-btn-sm layui-btn-sm j-page-btns" data-table="dataTable">优化数据</a>
        <a data-href="{:url('repair')}" class="layui-btn layui-btn-warm layui-btn-sm j-page-btns" data-table="dataTable">修复数据</a>
    </div>
</script>

<script type="text/javascript">
    layui.use(['table'], function() {
        var table = layui.table;
        table.render({
            elem: '#dataTable'
            ,url: '{:url()}?group=export' //数据接口
            ,page: false //分页
            ,skin: 'row'
            ,even: true
            ,text: {
                none : '暂无相关数据'
            }
            ,toolbar: '#toolbar'
            ,defaultToolbar: ['filter']
            ,cols: [[ //表头
                {type:'checkbox'}
                ,{field: 'Name', title: '表名'}
                ,{field: 'Rows', title: '数据量', width: 100}
                ,{field: 'Data_length', title: '大小', width: 100, templet: function(d) {
                    return d.Data_length / 1024;
                }}
                ,{field: 'Data_free', title: '冗余', width: 100, templet: function(d) {
                    return d.Data_free / 1024;
                }}
                ,{field: 'Comment', title: '备注'}
                ,{title: '操作', width: 150, templet: '#buttonTpl'}
            ]]
        });
    });
</script>