<link rel="stylesheet" href="__MODULE_STATIC__/css/color.css?v={:config('hiphp.version')}">
<style>
    .table-box{
        background-color: #f3f3f3;
        overflow: hidden;
        padding:10px;
    }
    .hi-module-item{
        position: relative;
        overflow: hidden;
    }
    .hi-module-item .layui-card-body {
        height: 80px;
        line-height: 20px;
        overflow: hidden;
        color: #777;
    }
    .hi-module-item .layui-card-header.btns {
        padding: 10px;
        border-top: 1px solid #f6f6f6;
        height: auto;
        overflow: hidden;
    }
    .layui-card-header.btns a{
        color:#fff;
    }

</style>
<div class="table-box">
    <div class="layui-row layui-col-space5">
        {volist name="dataInfo" id="vo" empty="$emptyTips"}
        <div class="layui-col-md4 hi-module-item">
            <div class="layui-card">
                <div class="layui-card-header">
                    {if $vo['icon']}
                    <span><img src="{$vo['icon']}" width="20" height="20"></span>
                    {/if}
                    <span>{$vo['title']}</span>
                    <span class="version">v{$vo['version']}</span>
                </div>
                <div class="layui-card-body">
                    <p>{$vo['intro']}</p>
                </div>
                {if condition="$vo['system'] neq 1"}
                <div class="layui-card-header btns">
                    {switch name="vo['status']"}
                    {case value="0"}
                    <a href="{:url('install?id='.$vo['id'])}" class="layui-btn hi-bgcolor1 layui-btn-sm">安装</a>
                    <a data-href="{:url('del?id='.$vo['id'])}" class="layui-btn layui-btn-danger layui-btn-sm j-tr-del">删除</a>
                    {/case}
                    {case value="1"}
                    <a href="{:url('status?id='.$vo['id'].'&v=1')}" class="layui-btn hi-bgcolor7 layui-btn-sm">启用</a>
                    <a href="{:url('uninstall?id='.$vo['id'])}" class="layui-btn layui-btn-danger layui-btn-sm">卸载</a>
                    {/case}
                    {case value="2"}
                    {if condition="$vo['default']"}
                    <a href="{:url('setDefault?id='.$vo['id'].'&v=0')}" class="layui-btn hi-bgcolor6 layui-btn-sm">取消默认</a>
                    {else/}
                    <a href="{:url('setDefault?id='.$vo['id'].'&v=1')}" class="layui-btn hi-bgcolor1 layui-btn-sm">设为默认</a>
                    {/if}
                    <a href="/{$vo['name']}/" class="layui-btn hi-bgcolor7 layui-btn-sm" target="_blank">前端入口</a>
                    <a href="{:url('theme?id='.$vo['id'])}" class="layui-btn hi-bgcolor5 layui-btn-sm">主题</a>
                    <a href="{:url('status?id='.$vo['id'].'&v=0')}" class="layui-btn hi-bgcolor4 layui-btn-sm">禁用</a>
                    {if condition="$vo['app_keys']"}
                    <a href="{:url('upgrade/lists?app_type=module&identifier='.$vo['identifier'])}" class="layui-btn hi-bgcolor1 layui-btn-sm">更新</a>
                    {/if}
                    <a href="{:url('uninstall?id='.$vo['id'])}" class="layui-btn layui-btn-danger layui-btn-sm">卸载</a>
                    {/case}
                    {default /}
                    {/switch}
                </div>
                {else /}
                <button class="layui-btn layui-btn-mini layui-btn-disabled">不可操作</button>
                {/if}
            </div>
        </div>
        {/volist}
    </div>
</div>
{include file="block/layui" /}
<script>
    layui.use(['table', 'jquery', 'layer', 'laytpl', 'form', 'md5'], function() {
        var $ = layui.jquery, layer = layui.layer, laytpl = layui.laytpl, form = layui.form, identifier = '{:config("hi_cloud.identifier")}', clientIp = '{:getClientIp()}', md5 = layui.md5;
        // 弹出绑定云平台界面
        $(document).on('click', '.btn-bind-cloud', function () {
            popBindStore();
        });
        var popBindStore = function () {
            layer.open({
                title: '<a href="https://store.cx2v.com/bind/login?domain={$_SERVER["SERVER_NAME"]}" target="_blank" class="mcolor">绑定应用中心</a>',
                id: 'popLoginBox',
                area: '380px',
                content: $('#popCloudBind').html(),
                btn: ['确认绑定', '取消'],
                btnAlign: 'c',
                move: false,
                yes: function (index) {
                    var tips = $('#resultTips'), username = $('input[name="username"]').val(), pwd = $('input[name="password"]').val(), key = $('input[name="key"]').val();
                    if(!username || !pwd || !key){
                        layer.msg('请填写完整');
                        return false;
                    }
                    tips.html('请稍后，应用中心通信中...');
                    $.post('{:url("upgrade/bind")}', {username: username, password: md5.exec(pwd), key: key}, function (res) {
                        if (res.code == 1) {
                            layer.msg(res.msg);
                            setTimeout(function () {
                                location.reload();
                            }, 3000);
                        } else {
                            tips.addClass('red').html(res.msg);
                            setTimeout(function () {
                                tips.removeClass('red').html('');
                            }, 3000);
                        }
                    });
                    return false;
                },
                success: function () {
                    $('#cloudForm .layui-word-aux').html('温馨提示：您需要登录云平台后才能安装此应用');
                }
            });
        }
    })
</script>
<script type="text/html" id="popCloudBind">
    <form class="layui-form layui-form-pane page-form" action="{:url()}" method="post" id="cloudForm">
        <div class="layui-form-item">
            <label class="layui-form-label">账号</label>
            <div class="layui-input-inline w200">
                <input type="text" class="layui-input" name="username" lay-verify="required" autocomplete="off" placeholder="请输入应用中心登陆账号">
            </div>
        </div>
        <div class="layui-form-item">
            <label class="layui-form-label">密码</label>
            <div class="layui-input-inline w200">
                <input type="password" class="layui-input" name="password" lay-verify="required" autocomplete="off" placeholder="请输入应用中心登陆密码">
            </div>
        </div>
        <div class="layui-form-item">
            <label class="layui-form-label">秘钥</label>
            <div class="layui-input-inline w200">
                <input type="text" class="layui-input" name="key" lay-verify="required" autocomplete="off" placeholder="请输入应用中心登陆密码">
            </div>
        </div>
        <div class="layui-form-item">
            <div class="layui-form-mid layui-word-aux" style="padding:0!important;">
                温馨提示：确认绑定，表示您已了解并同意<a href="#" class="mcolor2">应用中心相关协议</a>
            </div>
        </div>
        <div class="layui-form-item" id="resultTips"></div>
    </form>
</script>