<link rel="stylesheet" href="__ADMIN_CSS__/color.css?v={:config('hiphp.version')}">
<style>
    .table-box{
        background-color: #f3f3f3;
        overflow: hidden;
        padding:10px;
    }
    .hi-module-item{
        position: relative;
        overflow: hidden;
    }
    .hi-module-item .layui-card-body {
        height: 80px;
        line-height: 20px;
        overflow: hidden;
        color: #777;
    }
    .hi-module-item .layui-card-header.btns {
        padding: 10px;
        border-top: 1px solid #f6f6f6;
        height: auto;
        overflow: hidden;
    }
    .layui-card-header.btns a{
        color:#fff;
    }

</style>
<div class="table-box">
    <div class="layui-row layui-col-space5">
        {volist name="dataInfo" id="vo" empty="$emptyTips"}
        <div class="layui-col-md4 hi-module-item">
            <div class="layui-card">
                <div class="layui-card-header">
                    {if $vo['icon']}
                    <span><img src="{$vo['icon']}" width="20" height="20"></span>
                    {/if}
                    <span>{$vo['title']}</span>
                    <span class="version">v{$vo['version']}</span>
                </div>
                <div class="layui-card-body">
                    <p>{$vo['intro']}</p>
                </div>
                {if condition="$vo['system'] neq 1"}
                <div class="layui-card-header btns">
                    {switch name="vo['status']"}
                    {case value="0"}
                    <a href="{:url('install?id='.$vo['id'])}" class="layui-btn hi-bgcolor1 layui-btn-sm">安装</a>
                    <a data-href="{:url('del?id='.$vo['id'])}" class="layui-btn layui-btn-danger layui-btn-sm j-tr-del">删除</a>
                    {/case}
                    {case value="1"}
                    <a href="{:url('status?id='.$vo['id'].'&v=1')}" class="layui-btn hi-bgcolor7 layui-btn-sm">启用</a>
                    <a href="{:url('uninstall?id='.$vo['id'])}" class="layui-btn layui-btn-danger layui-btn-sm">卸载</a>
                    {/case}
                    {case value="2"}
                    {if condition="$vo['default']"}
                    <a href="{:url('setDefault?id='.$vo['id'].'&v=0')}" class="layui-btn hi-bgcolor6 layui-btn-sm">取消默认</a>
                    {else/}
                    <a href="{:url('setDefault?id='.$vo['id'].'&v=1')}" class="layui-btn hi-bgcolor1 layui-btn-sm">设为默认</a>
                    {/if}
                    <a href="{:url('theme?id='.$vo['id'])}" class="layui-btn hi-bgcolor5 layui-btn-sm">主题</a>
                    <a href="{:url('status?id='.$vo['id'].'&v=0')}" class="layui-btn hi-bgcolor4 layui-btn-sm">禁用</a>
                    {if condition="$vo['app_keys']"}
                    <a href="{:url('upgrade/lists?app_type=module&identifier='.$vo['identifier'])}" class="layui-btn hi-bgcolor1 layui-btn-sm">更新</a>
                    {/if}
                    <a href="{:url('uninstall?id='.$vo['id'])}" class="layui-btn layui-btn-danger layui-btn-sm">卸载</a>
                    {/case}
                    {default /}
                    {/switch}
                </div>
                {else /}
                <button class="layui-btn layui-btn-mini layui-btn-disabled">不可操作</button>
                {/if}
            </div>
        </div>
        {/volist}
    </div>
</div>

{include file="block/layui" /}